    /* @import "bourbon"; */
    
     :root {
        --btncolor: rgb(24, 73, 128);
        --font: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana;
        --fonts: 'Calibri';
        --logo: Nasalization;
    }
    
    .nav-bar {
        background-color: rgb(210, 226, 255);
        font-family: var(--fonts);
        position: relative;
        width: 100%;
        left: 0;
        top: -1px;
        height: 60px;
        box-shadow: 0px 2px 10px black;
        background: linear-gradient(to bottom, #94aac42a 50%, rgb(217, 220, 252)30%);
    }
    
    #icon,
    .logo {
        width: 40%;
        margin-left: 50px;
        float: left;
        font-size: 40px;
        margin-top: auto;
        transition: 1s ease;
        position: relative;
        font-family: var(--logo, 'verdana');
    }
    
    #icon:hover,
    #logo:hover {
        width: 31%;
    }
    
    .top-nav {
        float: right;
        margin-right: 5%;
        cursor: pointer;
        color: rgb(255, 255, 255);
    }
    
    .top-nav li {
        display: inline;
        list-style: none;
        padding: 10px;
        font-size: 20px;
        font-weight: bold;
        transition: 1s;
    }
    
    a {
        color: rgb(24, 73, 128);
        text-decoration: none;
    }
    
    .top-nav li:hover {
        background-color: #03112248;
    }
    
    .top-nav a:hover {
        color: rgba(88, 8, 8, 0.699)
    }
    /*    END OF NAVIGATION CSS
*/
    /*      BEGINNING SIGN IN FORM CSS
*/
    
    .home-container {
        /* top: 80px; */
        overflow: hidden;
        position: relative;
        cursor: pointer;
        width: 100%;
        bottom: 0;
        margin: auto 0 0 0;
        background-color: #d9dee42f
    }
    
    #prev,
    #next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        padding: 9px;
        color: white;
        font-weight: bold;
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.303);
    }
    
    #next {
        right: 0;
    }
    
    #prev:hover,
    #next:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }
    
    .wallpapers {
        max-width: 70%;
        position: relative;
        margin: auto;
        margin-top: 20px;
        height: 400px;
        border: 1px solid rgba(66, 36, 36, 0.486);
        overflow: hidden
    }
    
    .wall {
        display: none;
        /* z-index: 0; */
    }
    
    .photo-transition {
        /* object-fit: fill; */
        position: absolute;
        width: 100%
    }
    
    .caption {
        color: #fff;
        font-size: 30px;
        position: absolute;
        text-align: center;
        width: 100%;
        top: 50%;
        border: 1px solid white;
        border-left-width: 0px;
        border-right-width: 0px;
        background-color: rgba(0, 0, 0, 0.212)
    }
    
    .fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1s;
        animation-name: fade;
        animation-duration: 1s;
    }
    
    @-webkit-keyframes fade {
        from {
            opacity: 0.4
        }
        to {
            opacity: 1
        }
    }
    
    @keyframes fade {
        from {
            opacity: 0.4
        }
        to {
            opacity: 1
        }
    }
    
    .sign-in-container,
    .sign-up-container {
        width: 100%;
        height: 700px;
        position: relative;
    }
    
    .sign-in-content,
    .sign-up-content {
        min-width: 20%;
        /* max-width: 50%; */
        width: fit-content;
        margin: 80px auto;
        display: block;
        position: relative;
    }
    
    .sign-in-photo,
    .sign-up-photo {
        float: left;
        width: 40%;
        position: relative;
    }
    
    #user-sign-in-icon,
    #user-sign-up-icon {
        width: 100%;
        margin: auto;
    }
    
    .sign-in {
        border: 1px solid rgba(55, 106, 165, 0.145);
        background-color: rgba(181, 190, 209, 0.138);
        float: right;
        position: relative;
        width: auto;
        padding: 20px;
        box-shadow: 3px 3px 10px rgba(34, 34, 34, 0.337);
    }
    
    .sign-up,
    .create-trip {
        border: 1px solid rgba(55, 106, 165, 0.289);
        padding: 20px;
        display: inline-block;
        background-color: rgba(181, 190, 209, 0.138);
        position: relative;
        /* float: right; */
        box-shadow: 3px 3px 10px rgb(34, 34, 34, 0.337);
    }
    
    .sign-in-form,
    .sign-up-form,
    .create-trip-form {
        padding-top: 10px;
        font-size: 20px;
        display: inline-block;
    }
    
    .sign-in-form input,
    .sign-up-form input,
    .create-trip-form input {
        border: 2px solid rgb(24, 73, 128);
        font-size: 80%;
        padding: 4px 10px;
        margin: 10px;
        border-radius: 5px;
    }
    
    .create-trip {
        right: 50%;
    }
    
    .create-trip-form input {
        margin-left: 10px
    }
    
    input[type="text"]:focus,
    input[type="password"]:focus,
    input[type="email"]:focus,
    input[type="number"]:focus {
        background-color: rgba(32, 24, 24, 0.26)
    }
    
    #sign-in-btn,
    #login-again,
    .home-btns {
        text-align: center;
        font-size: 20px !important;
        border: none;
        border-width: 2px;
        border-style: solid;
        border-color: var(--btncolor);
        background-color: var(--btncolor);
        padding: 5px 60px;
        border-radius: 10px;
        color: #fff;
        opacity: 0.8;
    }
    
    #sign-up-btn,
    #sign-me-up-btn,
    .home-btns {
        padding: 5px 60px;
        border: 2px solid var(--btncolor);
        border-radius: 10px;
        background-color: var(--btncolor);
        font-size: 20px;
        color: #fff;
        margin-bottom: 3px;
        text-decoration: none;
        opacity: 0.8;
    }
    
    #sign-in-btn:hover,
    #sign-up-btn:hover,
    #sign-me-up-btn:hover,
    #search-trip-btn:hover,
    #submit-feedback-btn:hover,
    .home-btns:hover {
        opacity: 1;
    }
    
    #x-closeForm {
        font-size: 20px;
        font-weight: bold;
        font-family: var(--fonts);
        cursor: pointer;
        width: 20px;
        color: rgb(0, 0, 0);
        border: 1px solid black;
        background-color: rgba(0, 0, 0, 0.233);
        position: absolute;
        border-radius: 10%;
        top: 0;
        right: 0;
    }
    
    #x-closeForm:hover {
        color: #fff;
        padding: 1px;
        background-color: black;
    }
    
    .trips-body {
        position: relative;
        display: block;
        top: 50px;
        /* margin-bottom: 0px; */
        background-color: #28436400;
    }
    
    .book-trip {
        display: inline-block;
        position: relative;
        top: 10px;
        left: 5%;
        width: 90%;
        /* background-color: #5b638f65; */
        font-family: var(--fonts);
    }
    
    .left-trips {
        position: relative;
        display: block;
        float: left;
        top: 10px;
        left: 10px;
        /* margin-bottom: 20px; */
        width: 30%;
        border: 1px solid #26536133;
        border-radius: 15px;
        box-shadow: 0px 1px 5px#3b2727c7;
        background-color: #94aac42a;
    }
    
    .right-trips {
        position: relative;
        display: block;
        float: right;
        border: 0px solid #265361a4;
        top: 10px;
        right: 10px;
        font-size: 20px;
        width: 60%;
        height: 500px;
        overflow-y: visible;
        overflow-x: hidden;
        cursor: pointer;
        border-radius: 20px;
        /* background: linear-gradient( to bottom, rgba(89, 145, 214, 0.165) 90%, #000); */
    }
    
    #filter-query,
    #search-location {
        border-radius: 10px;
        border: 1px solid var(--btncolor);
        background-color: rgb(219, 236, 240);
        font-size: 20px;
        color: var(--btnncolor, #000);
        opacity: 0.8;
        padding: 3px 15px 3px 15px;
        margin: 10px;
        width: auto;
    }
    
    #search-location:focus {
        background-color: rgba(32, 24, 24, 0.26)
    }
    
    .right-trips::-webkit-scrollbar {
        background-color: #c8d2dd;
        border-radius: 20px
    }
    
    .right-trips::-webkit-scrollbar-track {
        background-color: rgb(255, 255, 255);
    }
    
    .right-trips::-webkit-scrollbar-thumb {
        background-color: #8fa7c4;
        border-radius: 20px
    }
    
    .right-trips::-webkit-scrollbar-thumb:hover {
        background-color: #3a536e;
    }
    
    .trip {
        display: block;
        position: relative;
        border-radius: 10px;
        margin: 10px 10px 20px 10px;
        width: auto;
        height: auto;
        border-radius: 10px;
        background-color: #8fa7c42a;
        box-shadow: 0px 1px 5px#3b2727c7;
    }
    
    .trip-content {
        margin: 10px;
        display: grid;
        grid-template-columns: auto auto auto auto;
    }
    
    .trip-content a {
        color: white !important
    }
    
    .travel {
        display: inline;
        width: 100px;
        /* margin-top: 10px */
    }
    
    .from {
        grid-row: 1/3
    }
    
    .route-span {
        grid-row: 3/4
    }
    
    .arrival-time {
        grid-column: 4/5
    }
    
    .route {
        grid-column: 2/5
    }
    
    .three {
        font-size: 20px;
    }
    
    .book-trip-btn,
    .cancel-trip-btn {
        border-radius: 10px;
        border: 2px solid var(--btncolor);
        background-color: var(--btncolor);
        font-size: 20px;
        color: #fff;
        opacity: 0.8;
        padding: 3px 15px 3px 15px;
        margin-bottom: 10px;
        grid-column: 4/5
    }
    
    .book-trip-btn:hover,
    .cancel-trip-btn:hover,
    #filter-btn:hover {
        opacity: 1
    }
    
    .left-trips label {
        font-size: 15px;
        font-weight: 500;
        color: #4256af
    }
    
    .left-origin,
    .left-destination,
    .seats-to-book,
    .seats-number,
    .trip-way,
    .dep-date,
    .ret-date,
    .search-trip,
    input[type=date] {
        position: relative;
        display: block;
        margin-left: 4%;
        top: 10px;
        margin-bottom: 20px;
    }
    
    input[type=radio]:checked {
        border: 5px solid #811a39
    }
    
    .dep-date {
        display: inline-block
    }
    
    .ret-date {
        display: inline-block;
        display: none;
    }
    
    #search-trip-btn {
        border-radius: 10px;
        border: 2px solid var(--btncolor);
        background-color: var(--btncolor);
        font-size: 25px;
        color: #fff;
        opacity: 0.8;
        padding: 3px 15px 3px 15px;
    }
    
    select,
    option {
        width: 70%;
        height: 40px;
        font-family: var(--fonts);
        font-size: 25px;
        padding: 3px 5px 3px 15px;
        border-radius: 10px;
        border-width: 0px;
        background: #cacddb
    }
    
    select:hover,
    option:hover {
        border-width: 2px;
    }
    
    .footer {
        background-color: rgb(137, 139, 143);
        text-align: center;
        width: 100%;
        color: rgb(0, 0, 0);
        display: block;
        bottom: 0;
        position: fixed;
    }
    /* THIS IS THE CONTACT PAGE STYLESHEET */
    
    .contact-container {
        left: 0;
        bottom: 0;
        margin-bottom: 0;
        position: relative;
    }
    
    .contact-content {
        margin: auto;
        width: 60%;
        position: relative;
    }
    
    .contact-content input,
    textarea {
        width: 70%;
        padding: 5px;
        margin: 5px 0 5px 0;
        font-size: 20px;
        border-radius: 10px;
        transition: ease 0.5s
    }
    
    .contact-content input:hover,
    .contact-content input:focus,
    textarea:hover,
    textarea:focus {
        padding-left: 20px;
        width: 95%;
        border: 1px solid var(--btncolor);
        background-color: #ced2ee;
        color: rgb(0, 0, 0)
    }
    
    #submit-feedback-btn {
        padding: 5px 50px;
        border: 2px solid var(--btncolor);
        border-radius: 10px;
        background-color: var(--btncolor);
        font-size: 20px;
        color: #fff;
        margin-bottom: 3px;
        opacity: 0.8;
    }
    
    .contac-us-text h1 {
        font-size: 3.5em;
        text-align: center;
        text-shadow: 0 15px 30px rgb(196, 196, 196)
    }
    /* THIS IS AN ABOUT PAGE STYLESHEET */
    
    .about-container {
        top: 80px;
        left: 10%;
        width: 80%;
        height: 500px;
        position: absolute;
        border: 10px solid black
    }
    
    .about-content {
        width: 50%;
        font-size: 25px;
        font-family: var(--fonts);
        padding: 1%
    }
    
    .middle-trip-container,
    .all-bookings-contents {
        display: block;
        width: 60%;
        margin: auto auto 50px;
        border: 2px solid#ccd9e6
    }
    
    .all-bookings-contents {
        width: fit-content
    }
    
    .trip-image-content {
        width: 100%;
    }
    
    #trip-image {
        width: 90%;
        height: 400px;
        border-radius: 30%;
        border: 3px solid rgba(168, 193, 226, 0.158);
    }
    
    #book-image {
        width: 90%;
        height: 400px;
        border-radius: 10%;
        border: 3px solid rgba(168, 193, 226, 0.158);
    }
    
    .left-bar {
        float: left;
        width: 20%;
        height: fit-content;
        background-color: rgb(26, 31, 36)
    }
    
    .right-bar {
        float: right
    }
    
    .left-bar ul {
        padding: 0;
        text-align: center
    }
    
    .left-bar a {
        display: flex;
        list-style: none;
        padding: 10px;
        font-size: 20px;
        font-weight: bold;
        color: rgb(255, 255, 255);
        text-decoration: none;
    }
    /* .left-bar li:hover, */
    
    .left-bar a:hover {
        background-color: #a7bcd6;
        color: rgb(0, 0, 0);
    }
    
    .home-content {
        display: flex;
        position: relative;
        max-width: 75%;
        margin: 20px auto;
        border: 0px solid rgba(66, 36, 36, 0.486);
    }
    
    .home-content span {
        font-size: 20px
    }
    
    .home-content li[class^="go-to"] {
        width: 300px;
        position: relative;
        border: 1px solid #d3dce7;
        border-radius: 10px;
        margin: auto 10px;
        list-style: none;
        background-color: #f4f8fc
    }
    
    .home-btns a {
        color: #ffffff
    }
    
    .home-btns {
        position: relative;
        margin: 20px auto
    }
    
    .home-content img {
        width: 100%;
    }
    
    .admin-right-contents {
        display: flex;
        position: relative;
        margin: auto;
        border: 0px solid rgba(66, 36, 36, 0.486);
    }
    
    .admin-specific-trip-container,
    .admin-create-trip-container,
    .admin-all-bookings-container {
        float: right;
        position: relative;
        max-width: 80%;
        margin: auto
    }
    
    .admin-all-bookings-container {
        width: 100%
    }
    
    .my-boookings {
        margin-bottom: 100px;
        background-color: #8fa7c4
    }
    
    span[class="title"],
    .create-trip-title,
    .All-Trips-Title {
        font-size: 50px;
        color: #22456b;
        font-family: var(--font);
        display: block;
        text-align: center;
        width: 100%
    }
    
    .bookings-content {
        position: relative;
        margin: 10px auto 100px;
        height: auto;
    }
    
    #sign-in-btn a {
        color: white;
        text-decoration: none;
    }
    
    .bookings-table th,
    .bookings-table td {
        font-size: 20px;
        padding: 10px
    }
    
    .bookings-table tr:nth-child(even) {
        background-color: #e5e9fa
    }
    
    .bookings-table {
        border-spacing: 0;
        border-collapse: collapse
    }